.backgroundForHomePage{
    background-size: cover;
    height: 100%;
    width: 100vw;
    opacity: .99;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}
.backgroundForHomePage::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

#carousel{
    max-width: 90vw;
    margin-top: 5vh;
    margin-left: 5vw;
    background-size: cover;
    margin-bottom: -2vh;
}
.slider-wrapper{
    max-height: 40vh;
}
.control-arrow{
    height: 100%;
    width: 10vw;
}
.slide{
    background-size: cover;
}

.slideImage3{
    margin-top: -25vh;
}

.thumb{
    margin-top: -2.3vh;
    max-height: 7vh;
    z-index: 9999;
}
.thumb-wrapper, .axis-vertical {
    display: flex !important;
    justify-content: center !important;
}

.legend{
    margin-top: 0;
}

.homePageGrayBox{
    background-color: rgba(0, 0, 0, .6);

}

.homePageStarChart{
    // position: absolute;
    font-size: 4rem;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 25vw;
    font-family: 'orbitron';
    background: -webkit-linear-gradient(#3366ff,silver, #3366ff,);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homePageBody{
    // position: absolute;
    font-size: 3rem;
    // margin-top: 0vh;
    // margin-bottom: 0vh;
    margin-left: -25vw;
    font-family: 'orbitron';
    background: -webkit-linear-gradient(#3366ff,silver, #3366ff,);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgba(0, 0, 0, .6);
    

}
