.displayPlanets{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.planet_pic{
	height: 32vh;
    width: 28.1vw;
}