.backgroundProfileImage{
	background-image: url(https://images.unsplash.com/photo-1536697246787-1f7ae568d89a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
    background-size: cover;
    height: 100%;
    width: 100vw;
    opacity: .99;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}

.backgroundProfileImage::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.profilePic{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 45vw;
    border-radius: 50vh; 
}

.userProfileName{
    margin-left: 42vw;
    font-size: 2rem;
    font-family: 'orbitron';
    background: -webkit-linear-gradient(#030d2c,rgb(0, 0, 0), #030d2c,);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.profileBioBackground{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

.profileBio{
    margin-left: 35vw;
    max-width: 30vw;
    background-color: rgba(0, 0, 0, .8);    
}

.profileBioGrayBox{
    display: flex;
	flex-wrap: wrap;    
    font-size: 1.5rem;
    font-family: 'orbitron';
    background: -webkit-linear-gradient(#3366ff,silver, #3366ff,);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 28vw;
    }

.bioInputs{
    margin-top: 1vh;
}

.bitButton{
    margin-top: 1vh;
}




.displayFavorites{
    // margin-left: 25vw;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

