$font-white: #F2F3F4;
$silver: silver;
$right-silver: #d9d9d9;

$list2: $silver, $right-silver;

@mixin gradient($direction, $list) {
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list)
}

@font-face{
    font-family: 'Orbitron', sans-serif;
font-family: 'Audiowide', cursive;
@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron');
}



.starChart{
    font-size: 22vh;
    margin-top: 0;
    margin-bottom: 0;
    // margin-left: 20rem;
    justify-content: space-around;
    font-family: 'orbitron';
    background: -webkit-linear-gradient(#3366ff,silver, #3366ff,);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // @include gradient(right, $list2)
}

#welcomeBox{
    height: 24vh;
    width: 25vw;
    color: $font-white;
    margin: 8vh auto;
    position: absolute;
    top: 30vh;
    left: 37vw;
    align-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    opacity: .78;
}




.username{
    // margin-left: 10.8vw;
    position: relative;
    // padding-top: 100vh;
    margin: 1vh;
    margin-left: 10vw;
}
.user-input{
    position: absolute;
    margin-top: 6vh;
    margin-left: -7.7vw;
    width: 11.8vw;
}
.password{
    position: relative;
    margin-top: 8vh;
    margin-left: 10vw;
}
.pass-input{
    position: absolute;
    margin-top: 3vh;
    margin-left: -7.6vw;
    width: 11.8vw;
}
.register{
    height: 3vh;
    margin-top: 9.3vh;
    margin-left: 1.7vw;
    width: 4.6vw;
}
.login{
    height: 3vh;
    margin-left: 2.6vw;
    width: 3.7vw;
}
.continue{
    height: 10vh;
    margin-left: 1.2vw;
}
.continue-btn{
    position: absolute;
    left: 14.5vw;
    top: 25.1vh;
    height: 3vh;
}
button{
    background-image: linear-gradient(rgb(161, 170, 214), rgb(76, 76, 248));
    height: 3vh;
    // width: 5vw;
    border: none;
    padding: 5px 10px;
    border-radius: 3px
}
button:hover{
    background-image: linear-gradient(to bottom,rgb(181, 188, 219), rgb(76, 76, 248));
    transition: .2s;
}