$font-white: #F2F3F4;


#welcomeBox{
    height: 24vh;
    max-width: 12vw;
    color: $font-white;
    position: absolute;
    left: 45vw;
    top: 38vh;
    align-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    opacity: 1;
}
.continue{
    margin-left: 1.2vw;
}
.username{
    margin-left: 1.2vw;
}
.password{
    margin-left: 1.2vw;
}
.register{
    margin-left: 1.2vw;
}
.login{
    margin-left: 3vw;
}
button:hover{
    background-color: blue;
    border: 2px, solid, red
}