$font-white: #F2F3F4;


#welcomeBox{
    height: 24vh;
    max-width: 12vw;
    color: $font-white;
    position: absolute;
    left: 45vw;
    top: 38vh;
    align-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    opacity: 1;
}
.continue{
    margin-left: 1.2vw;
}
.username{
    margin-left: 1.2vw;
}
.password{
    margin-left: 1.2vw;
}
.register{
    margin-left: 1.2vw;
}
.login{
    margin-left: 3vw;
}
button{
    background-image: linear-gradient(rgb(161, 170, 214), rgb(76, 76, 248));
    // background: transparent;
    border: none;
    padding: 5px 10px;
    border-radius: 3px
}
button:hover{
    background-image: linear-gradient(to bottom,rgb(181, 188, 219), rgb(76, 76, 248));
    transition: .2s;
}