$black:#000000;
$dark-blue: #001757;

$list1: $black, $dark-blue, $black;

@mixin gradient($direction, $list) {
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list)
}



.backgroundImageGalaxy{
    background-image: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-5.jpg);
    background-size: cover;
    height: 100%;
    width: 100vw;
    opacity: .99;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}


.modalWindow{
    position: fixed;
}

.galaxy_pic_img{
height: 32vh;
width: 28.1vw;
}

.particles{
    position: absolute;
    top: 0;
    z-index: -10;
    overflow: hidden;

}

.displayGalaxy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    width: 85vw;
    background-color: rgba(0, 0, 0, 0.01);
    color: aliceblue;
    margin-left: 4.9vw;
}

.backgroundImageGalaxy::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

body::-webkit-scrollbar{
    width:0px;
    height:0px;
}


#galaxy-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    size: 100%;
    height: 100vh;

}


.galaxy-page-img{
    height: 40vh;
    width: 28.1vw;
}

.galaxyBackdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.6);
}

.galaxyBackground{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.6);
}

.galaxy-modal{
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 60%;
    @include gradient(top, $list1);
    -webkit-box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.5); 
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.5);
    overflow: scroll;
    z-index: 999999999;
}

.galaxy-modal::-webkit-scrollbar{
    overflow: scroll;
    width: 1px;
    height: 1px;
    background-color: black
}

.galaxy-modal-img{
    height: 35vh;
    width: 50vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
    z-index: 999999999;
}

.close-modal{
    left: 74.89%;
    position: fixed;
    z-index: 999999999;
}
.galaxy-text{
    font-size: 1.2rem;
    margin-top: 8vh;
    color: antiquewhite;
    float: left;
}
.galaxy-descript{
    font-size: 1.2rem;
    margin-top: -1vh;
    color: antiquewhite;
    float: left;
}
.galaxy-name{
    position: absolute;
    font-size: 1.5rem;
    margin-left: 23vw;
    color: antiquewhite;
    // float: left;
}
.button{
    // opacity: .2;
}
.galaxy-left-row{
    display: flex;
	flex-wrap: wrap;
    // position: absolute;
    justify-content: space-between;
    height: 133.5vh;
    width: 85vw;
    margin-right: 9.5vw;
    background-color: red;
}

