.home_image {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center; 
    margin-right: 96vw;
    float: right
}
.profilePic{
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
    // float: right; 
    margin-left: -3.7vw;
    margin-top: 3.7vh;
}
.navBar{
    justify-content:flex-end;
    margin-left: 75vw;
    // float: right;

}