@font-face{
    font-family: 'Orbitron', sans-serif;
font-family: 'Audiowide', cursive;
@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron');
}

.homeStarChart{
    position: absolute;
    font-size: 4vh;
    margin-top: 0vh;
    margin-left: -70vw;
    font-family: 'orbitron';
    background: -webkit-linear-gradient(#3366ff,silver, #3366ff,);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // @include gradient(right, $list2)
}
.home_image {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center; 
    margin-right: 96vw;
    float: right
}
.profilePic{
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
    // float: right; 
    margin-left: -3.7vw;
    margin-top: 3.7vh;
}
.navBar{
    justify-content:flex-end;
    margin-left: 75vw;
    // float: right;

}