body{
    height:100vh;
    width: 100vw;
    background: #000000;
background: -moz-linear-gradient(top, #000000 0%, #001757 50%, #000000 100%);
background: -webkit-linear-gradient(top, #000000 0%, #001757 50%, #000000 100%);
background: linear-gradient(to bottom, #000000 0%, #001757 50%, #000000 100%);
}
body::-webkit-scrollbar{
    width:0px;
    height:0px;
}

.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.constel1-modal{
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 60%;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #001757 89%, #01003B 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #001757 89%, #01003B 100%);
    background: linear-gradient(to bottom, #000000 0%, #001757 89%, #01003B 100%);
    -webkit-box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.5); 
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.5);
    overflow: scroll
}
.constel1-modal::-webkit-scrollbar{
    overflow: scroll;
    width: 1px;
    height: 1px;
    background-color: black
}
.constel2-modal{
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 60%;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #001757 89%, #01003B 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #001757 89%, #01003B 100%);
    background: linear-gradient(to bottom, #000000 0%, #001757 89%, #01003B 100%);
    -webkit-box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.5); 
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.5);
    overflow:scroll
}
.constel3-modal{
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 60%;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #001757 89%, #01003B 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #001757 89%, #01003B 100%);
    background: linear-gradient(to bottom, #000000 0%, #001757 89%, #01003B 100%);
    -webkit-box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.5); 
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,0.5);
    overflow:scroll
}
.constel1-modal-img{
    float: left;
    height: 68%;
    padding-right: .5%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 21.5%;
}
.constel2-modal-img{
    float: left;
    height: 68%;
    padding-right: .5%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 21.5%;
}
.constel3-modal-img{
    float: left;
    height: 68%;
    padding-right: .5%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 21.5%;
}
.close-modal{
    left: 74.89%;
    position: fixed;
}
.constel1-text{
    font-size: 1.2rem;
    color: antiquewhite;
    float: left;
}
.constel2-text{
    font-size: 1.2rem;
    color: antiquewhite;
    float: left;
}
.constel3-text{
    font-size: 1.2rem;
    color: antiquewhite;
    float: left;
}
.button{
    opacity: .2;
}
.constel-left-row{
    height: 100%;
    width: 28%;
    background-color: red;
    position: absolute
}

.constel-middle-row{
    height: 100%;
    width: 28%;
    left: 36%;
    background-color: antiquewhite;
    position: absolute
}
.constel-right-row{
    height: 100%;
    width: 28%;
    left: 72%;
    background-color: blue;
    position: absolute; 
}