
.darkCover{
    height: 100vh;
    width: 100vw;
}
.particles {
    max-height: 100%;
    height: 100vh;
    z-index: -9998;
    overflow: hidden;
    position: absolute;
}
.App{
    background-image: url(https://wallpapersite.com/images/wallpapers/stars-3840x2160-4k-6347.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .9;
}

.constellationBackground{
    background-image: url(https://i.ytimg.com/vi/Gsc0HtG6rTc/maxresdefault.jpg);
}

.galaxyBackground{
	background-image: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-5.jpg);
}	